.characterPage {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	padding-top: 2rem;
	width: 100vw;
	padding-right: 4rem;
	padding: 2rem;
}
.characterPage__left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

img {
	width: 25rem;
	padding: 2rem;
}
.charPage__img {
	margin-right: 3rem;
}

@media screen and (max-width: 786px) {
	.character__name {
		font-size: 1.5rem;
	}
}
